header:after, .container:after, footer:after, #subscribe:after {
   content: "";
   display: table;
   clear: both;
}

header {
   width: 100%;
   height: 5vh;
   background: #3C3D41;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .75);
   padding: 15px 0;
   margin-bottom: 5px;
   position: relative;
   border-radius: 10px;
}

header ul {
	display: none;
	/*color: #9932CC;*/
	color: #00BFFF;
   	text-transform: uppercase;
   	list-style: none;
}

body {
   background: url(../img/bg.jpeg);
   background-size: cover;
}

#nav_header {
	color: #00BFFF;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 25px;
	font-family: 'Playfair Display';
    font-weight: normal;
   	letter-spacing: 1px;
}

.container {
	background-color: white;
	border-radius: 10px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	display: none;
	width: 95%;
	font-size: 18px;
	font-family: 'Playfair Display';
	height: auto;
	margin: auto;
	box-shadow: 3px 3px 1px rgba(0, .75, .75, .75);
}

.container i {
	background-color: PowderBlue;
	border-radius: 5px;
}

#mp_helper ul {
	list-style: none;
}

#mp_helper li {
	margin-bottom: 15px;
}

#mp_helper ul b {
	text-transform: uppercase;
	background-color: #9932CC;
	color: white;
	border-radius: 5px;
	padding-left: 2px;
}

.card_helper {
	background: url(../img/card_help_1.jpeg) no-repeat;
    background-size: contain;
    height: 90vh;
	display: block;
	border-radius: 20px;
	margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 1px;
}

#mp_heroes form {
   padding: 3px;
   border-radius: 5px;
   background: #3C3D41;
   color: white;
}

#mp_heroes table {
	border: 0;
	width: 100%;
}

#heroSelect_button {
	border-radius: 5px;
	background-color: #3C3D41;
	border-color: #00BFFF;
	color: #00BFFF;
	margin-left: 10px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 18px;
	font-family: 'Playfair Display';
}

.hero_face {
	background: url(../img/face_7.jpeg) no-repeat;
    background-size: contain;
	background-color: #3C3D41;
	border-radius: 15px;
	width: 49%;
	margin: auto;
	overflow: hidden;
    position: relative;
	padding-bottom: 50%; /* пропорции блока определяются здесь */
    display: flex; 
    justify-content: center; /* элемент центрируется */
}

.hero_stat {
	width: 49%;
}

.param_stat {
	background: #3C3D41;
   	color: white;
   	border-radius: 5px;
   	padding-left: 5px;
   	padding-top: 2px;
   	margin-bottom: 2px;
}

.hero_spell {
	background: #3C3D41;
   	color: white;
   	border-radius: 5px;
}
